
@{
    Layout = null;
}

@model Proveedor.ViewModels.CategoriaAlimento.CategoriaAlimentoVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AgregarCategoria</title>
    <link rel="stylesheet" type="text/css" href="~/css/add.css">
</head>
<body>
    <header>
    <h1>Agregar Categoria de Alimento</h1>
    </header>
    <main>
        @using (Html.BeginForm("AgregarCategoria", "CategoriaAlimento"))
        {
            <table align="center">

                <tr>
                    <td>Nombre :</td>
                    <td><input required type="text" pattern="[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ\s]+" id=@Html.TextBoxFor(model => model.CategoriaAlimento.Nombre)</td>
                </tr>
                <tr>
                    <td>Descripcion :</td>
                    <td><input required type="text" pattern="[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ\s]+" id=@Html.TextBoxFor(model => model.CategoriaAlimento.Descripcion)</td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Guardar" /></td>
                </tr>
            </table>
        }
        </main>
</body>
</html>
