
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaTipoCuentas</title>
</head>
<body>
    <a href="@Url.Action("Home","Home")">Volver</a>
    <h1>Lista de Tipos Alimentos</h1>
    <a href="@Url.Action("AgregarTipoCuentaBancarias","TipoCuentaBancaria")">Agregar Tipo Alimento</a>
    <table>
        <tr>

            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
        @foreach (var t in ViewBag.listaTipoCuentaBancaria)
        {
            <tr>

                <td>@t.Nombre</td>
                <td><a href="@Url.Action("EliminarTipoCuentaBancaria","TipoCuentaBancaria",new { codigo=t.Codigo })">Eliminar</a></td>

            </tr>
        }
    </table>
</body>
</html>
