
@{
    Layout = null;
}

@model Proveedor.ViewModels.Banco.BancoVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Alimento</title>
    <link rel="stylesheet" type="text/css" href="~/css/add.css">
</head>
<body>
    <header>
        <h1>Editar Banco</h1>
    </header>
    <main>
        @using (Html.BeginForm("EditarBanco", "Banco"))
        {
            <table>


                <tr>
                    <td>Nombre :</td>
                    <td>
                        @Html.HiddenFor(model => model.Banco.Codigo)
                        @Html.HiddenFor(model => model.Banco.Activo)
                        <input required type="text" pattern="[A-Za-z0-9ñÑáéíóúÁÉÍÓÚ\s]+" id=@Html.TextBoxFor(model => model.Banco.Nombre)
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Guardar" /></td>
                </tr>
            </table>
        }
    </main>
</body>
</html>
